@media (max-width: 991px) {
  .section {
    padding-block: var(--section-padding-tablet);
  }

  .display-title {
    font-size: clamp(3.5rem, 11vw, 6rem);
  }
}

@media (max-width: 767px) {
  .section {
    padding-block: var(--section-padding-mobile);
  }

  .container-dc {
    width: min(90%, var(--container-width));
  }

  .display-title {
    font-size: clamp(3rem, 15vw, 5rem);
  }

  .section-title {
    font-size: clamp(2.3rem, 10vw, 4rem);
  }
}