@import "./styles/components/navbar.css";
@import "./styles/components/hero.css";
@import "./styles/components/footer.css";
@import "./styles/components/sections.css";
@import "./styles/components/cards.css";
@import "./styles/pages.css";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #080808;
}

#root {
  min-height: 100vh;
}